<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="getSHA256"
          class="dead.inside.ghoul.SHA256">
    </bean>
    <bean id="getEthash"
          class="dead.inside.ghoul.Ethash">
    </bean>
    <bean id="getMiner1"
          class="dead.inside.ghoul.Miner">
          <constructor-arg ref="getSHA256"/>
    </bean>
    <bean id="getMiner2"
          class="dead.inside.ghoul.Miner">
          <constructor-arg ref="getEthash"/>
    </bean>

</beans>